@import "/css/font.css";
@import "/css/tom-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 400;
    font-family: Montserrat, serif !important;
    min-width: 320px !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input, button, div {
    @apply outline-none;
}

input, button, div:focus {
    @apply outline-none;
}

.top-0 {
   top: 0 !important;
}

.ck-editor__editable {
    max-height: 300px !important;
}

.map-container iframe {
    width: calc(100% * 1.3) !important;
    height: calc(100% * 1.3) !important;
    transform: scale(0.8);
    transform-origin: 0 0;
}

.like-doctor-btn.active {
    --tw-text-opacity: 1 !important;
    color: rgba(248, 113, 113, var(--tw-text-opacity)) !important;
}

.like-doctor-btn > .active {
    display: none;
}

.like-doctor-btn > .non-active {
    display: block;
}

.like-doctor-btn.active > .active {
    display: block !important;
}

.like-doctor-btn.active > .non-active {
    display: none !important;
}

.mark-btn.active {
    color: #ffffff !important;
}

.mark-btn.active.border-red-400 {
    @apply bg-red-400;
}

.mark-btn.active.border-yellow-400 {
    @apply bg-yellow-400;
}

.mark-btn.active.border-green-light {
    @apply bg-green-light;
}
